@using BlazingRecept.Client.Components.PageComponents.Base
@using BlazingRecept.Client.Components.Common

@inherits PageComponentBase

@if (IsLoading)
{
    <LoadingSpinner Text="Laddar..." />
}
else
{
    if (RecipePage != null && RecipePage.RecipeDto != null)
    {
        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
            @foreach (var recipe in new[] { RecipePage.RecipeDto })
            {
                <div class="col">
                    <div class="card h-100">
                        <div class="card-header">
                            <h5 class="card-title mb-0">@recipe.Name</h5>
                        </div>
                        <div class="card-body">
                            <div class="card mb-2">
                                <div class="card-body">
                                    <h6 class="text-muted mb-2">Per portion</h6>
                                    <div class="row">
                                        <div class="col-6">
                                            <strong>Protein</strong>
                                            <div>@GetProteinPerPortion() g</div>
                                        </div>
                                        <div class="col-6">
                                            <strong>Kalori</strong>
                                            <div>@GetCaloriesPerPortion() kcal</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-body">
                                    <h6 class="card-title">Protein per kalori</h6>
                                    <div class="d-flex justify-content-center">
                                        @for (int i = 1; i <= 5; i++)
                                        {
                                            int currentStar = i;
                                            @if (currentStar <= GetProteinPerCalorieStars())
                                            {
                                                <i class="fa-solid fa-star text-warning" style="font-size: 1.5rem;"></i>
                                            }
                                            else
                                            {
                                                <i class="fa-regular fa-star text-warning" style="font-size: 1.5rem;"></i>
                                            }
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    }
}
