@using BlazingRecept.Client.Components.PageComponents.Base
@using BlazingRecept.Client.Components.Common
@using Radzen
@using Radzen.Blazor

@inherits PageComponentBase

@if (IsLoading)
{
    <LoadingSpinner Text="Laddar..." />
}
else
{
    if (RecipePage != null && RecipePage.RecipeDto != null)
    {
        @if (_nutritionalChartItems != null && _nutritionalChartItems.Length > 0)
        {
            <div class="row">
                <RadzenChart>
                    <RadzenPieSeries Data="@_nutritionalChartItems" CategoryProperty="Label" ValueProperty="Value">
                        <TooltipTemplate Context="data">
                            <div>
                                <span>@data.Label</span>:
                                <strong>@data.Value</strong>
                            </div>
                        </TooltipTemplate>
                    </RadzenPieSeries>
                    <RadzenLegend Position="LegendPosition.Top" />
                </RadzenChart>
            </div>
        }
    }
}
