@using BlazingRecept.Client.Components.PageComponents.Base
@using BlazingRecept.Client.Components.Common;
@using BlazingRecept.Client.Utilities
@using BlazingRecept.Shared.Dto
@using BlazingRecept.Shared.Extensions

@inherits PageComponentBase

@if (IsLoading)
{
    <LoadingSpinner Text="Laddar..." />
}
else
{
    foreach (KeyValuePair<char, List<RecipeDto>> pair in _recipeCategories.OrderBy(pair => pair.Key))
    {
        <hr />
        <div class="row">
            <div class="d-flex flex-column">
                <div class="mb-3">
                    <h2>@char.ToUpperInvariant(pair.Key)</h2>
                </div>
                <div>
                    <RecipeCards RecipeDtos="@_recipeCategories[pair.Key]" />
                </div>
            </div>
        </div>
    }
}
