@using BlazingRecept.Client.Components.Utilities;

@inherits ComponentBase

<Modal @ref="_modal" Title="Remove ingredient">
    <Body>
        <p>Are you sure you want to remove <b>@GetIngredientName()</b></p>
    </Body>
    <Buttons>
        <button class="btn btn-primary" type="button" @onclick="@(_ => HandleConfirm())">Yes</button>
        <button class="btn btn-secondary" type="button" @onclick="@(_ => HandleCancel())">Cancel</button>
    </Buttons>
</Modal>