@using BlazingRecept.Client.Utilities;

<EditForm id="@_editFormId" EditContext="_editContext" OnValidSubmit="@ValidFormSubmitted">
    <CustomValidation @ref="_customValidation" />
    @foreach (IngredientRow ingredientRow in _ingredientRows)
    {
        <div class="row mb-2">
            <div class="form-floating col">
                <input type="text" id="name" name="name" class="form-control" @bind="ingredientRow.Name" placeholder="Name">
                <label for="name">Name</label>
                <ValidationMessage For="() => ingredientRow.Name" />
            </div>
            <div class="form-floating col">
                <input type="text" id="grams" name="grams" class="form-control" @bind="ingredientRow.Grams" placeholder="Grams">
                <label for="grams">Grams</label>
                <ValidationMessage For="() => ingredientRow.Grams" />
            </div>
            <div class="col">
                <button class="btn btn-danger">
                    <i class="fa-solid fa-trash"></i>
                </button>
            </div>
        </div>
    }
</EditForm>
<div class="mb-2">
    <button class="btn btn-primary" @onclick="() => AddIngredientRow()">
        <i class="fa-solid fa-plus"></i>
    </button>
</div>
