@page "/dailyintake"

@using BlazingRecept.Client.Components.PageComponents.DailyIntakePage
@using BlazingRecept.Client.Components.Utilities
@using BlazingRecept.Client.Pages.Base

@inherits PageBase

<PageTitle>Dagligt intag</PageTitle>

<h1>Dagligt intag</h1>
@if (IsLoading)
{
    <LoadingSpinner Text="Laddar..." />
}
else
{
    <CascadingValue Value="this">
        <DailyIntakeTable @ref="_dailyIntakeTable" />
    </CascadingValue>
}