@page "/dailyintake"

@using BlazingRecept.Client.Components.PageComponents.IndexPage
@using BlazingRecept.Client.Pages.Base
@using BlazingRecept.Shared.Dto

@inherits PageBase

<PageTitle>Daily Intake</PageTitle>

<h1>Daily Intake</h1>
