@page "/"

@using BlazingRecept.Client.Components.PageComponents.IndexPage
@using BlazingRecept.Shared.Dto

@inherits ComponentBase

<PageTitle>Index</PageTitle>

<h1>Recipes</h1>
<div class="list-group">
    <RecipeCategoryTable />
</div>
