@page "/ingredients"

@using BlazingRecept.Client.Components.PageComponents.Base
@using BlazingRecept.Client.Components.PageComponents.IngredientPage
@using BlazingRecept.Client.Components.Utilities

@inherits PageComponentBase

<PageTitle>Ingredients</PageTitle>

<h1>Ingredients</h1>
@if (IsLoading)
{
    <LoadingSpinner Text="Loading..." />
}
else
{
    <CascadingValue Value="this">
        <AuthorizeView>
            <IngredientInputForm />
        </AuthorizeView>
        <IngredientTables @ref="_ingredientTables" />
    </CascadingValue>
}