@page "/ingredients"

@using BlazingRecept.Client.Components.PageComponents.IngredientPage

@inherits ComponentBase

<PageTitle>Ingredients</PageTitle>

<h1>Ingredients</h1>

<CascadingValue Value="this">
    <AuthorizeView>
        <IngredientInputForm />
    </AuthorizeView>
    <IngredientTables @ref="_ingredientTables" />
</CascadingValue>