@page "/ingredients"

@using BlazingRecept.Client.Components.PageComponents.IngredientPage
@using BlazingRecept.Client.Components.Common
@using BlazingRecept.Client.Pages.Base

@inherits PageBase

<PageTitle>Ingredienser</PageTitle>

<h1>Ingredienser</h1>
@if (IsLoading)
{
    <LoadingSpinner Text="Laddar..." />
}
else
{
    <CascadingValue Value="this">
        <AuthorizeView>
            <IngredientInputForm />
        </AuthorizeView>
        <IngredientTables @ref="_ingredientTables" />
    </CascadingValue>
}