@page "/"

@using BlazingRecept.Client.Components.PageComponents.RecipesPage
@using BlazingRecept.Client.Components.Common
@using BlazingRecept.Client.Pages.Base
@using BlazingRecept.Shared.Dto

@inherits PageBase

<PageTitle>Recept</PageTitle>

<h1>Recept</h1>
@if (IsLoading)
{
    <LoadingSpinner Text="Laddar..." />
}
else
{
    <div class="list-group">
        <RecipeCategoryTable />
    </div>
}
