@using BlazingRecept.Client.Components.Common;

@inherits ComponentBase

@typeparam Type

<HxModal @ref="_modal" Title="@_title">
    <BodyTemplate>
        <p>Är du säker på att du vill ta bort <b>@_name</b></p>
    </BodyTemplate>
    <FooterTemplate>
        <button class="btn btn-primary" type="button" @onclick="@(_ => HandleConfirm())">Yes</button>
        <button class="btn btn-secondary" type="button" @onclick="@(_ => HandleCancel())">Cancel</button>
    </FooterTemplate>
</HxModal>