@using BlazingRecept.Client.Components.PageComponents.Base
@using BlazingRecept.Client.Components.Utilities;
@using BlazingRecept.Client.Utilities;
@using BlazingRecept.Shared
@using static BlazingRecept.Shared.Enums

@inherits PageComponentBase

<Modal @ref="_modal" Title="Lägg till ingrediens">
    <Body>
        <EditForm id="@_editFormId" EditContext="_editContext" OnValidSubmit="@HandleValidFormSubmitted">
            <CustomValidation @ref="_customValidation" />
            <div class="row mb-2">
                <div class="col">
                    <BlazoredTypeahead id="product-name"
                                       placeholder="Ange namn"
                                       SearchMethod="SearchForRecipeOrIngredient"
                                       @bind-Value="_form.ProductName">
                        <SelectedTemplate Context="contextName">
                            @contextName
                        </SelectedTemplate>
                        <ResultTemplate Context="contextName">
                            @contextName
                        </ResultTemplate>
                    </BlazoredTypeahead>
                    <ValidationMessage For="() => _form.ProductName" />
                </div>
            </div>
            <div class="row mb-2">
                <div class="col">
                    <input type="text" id="amount" name="amount" class="form-control" @bind="_form.Amount" placeholder="Ange mängd (gram/portioner)">
                    <ValidationMessage For="() => _form.Amount" />
                </div>
            </div>
        </EditForm>
    </Body>
    <Buttons>
        <button form="@_editFormId" class="btn btn-primary" type="submit">Lägg till</button>
        <button class="btn btn-secondary" type="button" @onclick="@(_ => HandleCancel())">Avbryt</button>
    </Buttons>
</Modal>