@using BlazingRecept.Client.Components.PageComponents.Base
@using BlazingRecept.Client.Components.Utilities;
@using BlazingRecept.Client.Utilities;
@using BlazingRecept.Shared.Dto

@inherits PageComponentBase

<EditForm Model="_form" OnValidSubmit="@HandleValidFormSubmitted">
    <CustomValidation @ref="_customValidation" />
    <div class="row mb-2">
        <div class="col-3">
            <label for="product">Produkt</label>
            <BlazoredTypeahead class="form-control"
                               id="product"
                               SearchMethod="SearchForRecipeOrIngredient"
                               @bind-Value="_form.ProductName">
                <SelectedTemplate Context="contextName">
                    @contextName
                </SelectedTemplate>
                <ResultTemplate Context="contextName">
                    @contextName
                </ResultTemplate>
            </BlazoredTypeahead>
            <ValidationMessage For="() => _form.ProductName" />
        </div>
        <div class="col-3">
            <label for="amount">Mängd</label>
            <input type="text" id="amount" name="amount" class="form-control" @bind="_form.Amount" placeholder="Mängd gram/portioner">
            <ValidationMessage For="() => _form.Amount" />
        </div>
    </div>
    <div>
        <button class="btn btn-primary" type="submit">Lägg till produkt</button>
    </div>
</EditForm>
