@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication

<AuthorizeView>
    <Authorized>
        Hello, @context.User.Identity?.Name!
        <button class="nav-link btn btn-link" @onclick="HandleBeginLogout">Log out</button>
    </Authorized>
    <NotAuthorized>
        <a href="" @onclick="() => HandleBeginLogin()" @onclick:preventDefault>Log in</a>
    </NotAuthorized>
</AuthorizeView>
