@using Blazored.Toast.Configuration

@inherits LayoutComponentBase

<div class="page">
    <BlazoredToasts Timeout="5"
                    IconType="IconType.FontAwesome"
                    ErrorIcon="fa-solid fa-xmark"
                    SuccessIcon="fa-solid fa-thumbs-up"
                    InfoIcon="fa-solid fa-circle-info"
                    WarningIcon="fa-solid fa-triangle-exclamation" />
    <main>
        <div class="top-row mt-2 px-4 auth">
            <div class="d-flex justify-content-between mx-4">
                <div>
                    <button class="btn btn-primary" type="button" @onclick="@(_ => HandleNavigationToRecipes())"><span class="fa-solid fa-book fa-2xl"></span>Recept</button>
                    <AuthorizeView>
                        <button class="btn btn-primary" type="button" @onclick="@(_ => HandleNavigationToRecipeWorkbench())"><span class="fa-solid fa-screwdriver-wrench fa-2xl"></span>Skapa recept</button>
                    </AuthorizeView>
                    <button class="btn btn-primary" type="button" @onclick="@(_ => HandleNavigationToIngredients())"><span class="fa-solid fa-apple-whole fa-2xl"></span>Ingredienser</button>
                    <button class="btn btn-primary" type="button" @onclick="@(_ => HandleNavigationToDailyIntake())"><span class="fa-solid fa-calendar-days fa-2xl"></span>Daily Intake</button>
                </div>
                <div>
                    <LoginDisplay />
                </div>
            </div>
        </div>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
