<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Mmmumsit-full-i-bibblan!</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="HandleNavMenuToggle">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>
<div class="@NavMenuCssClass" @onclick="HandleNavMenuToggle">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="ingredients">
                <span class="fa-solid fa-apple-whole fa-xl me-2" aria-hidden="true"></span> Ingredienser
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="fa-solid fa-book fa-xl me-2" aria-hidden="true"></span> Recept
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="dailyintake">
                <span class="fa-solid fa-calendar-days fa-xl me-2" aria-hidden="true"></span> Dagligt intag
            </NavLink>
        </div>
        <AuthorizeView>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="recipeworkbench">
                    <span class="fa-solid fa-screwdriver-wrench fa-xl me-2" aria-hidden="true"></span> Skapa recept
                </NavLink>
            </div>
        </AuthorizeView>
    </nav>
</div>
